body{
    padding:0px;
    margin:0px;
    }

.menuButtons{
    padding: 10px;
}

.userName{
 margin-right: 15px !important;
}

.content{
    margin: 15px;
    background-color: #FCFCFC;
}

.photos{
    width: 100%;
}
.paper-button {
    text-transform: none;
  }