body{
    padding:0px;
    margin:0px;
    }



.profilePhoto{
    background-image: url("background.jpeg");
    height: 250px;

}

.large{
    width: 15% !important;
    height: unset !important;
    margin-top: -6%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.editProfileButton{
    position: absolute !important;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
  

.bgColor{
    background-color: #F5F5F5;
}

.profileText{
    color: #353535;
}

.profileBio{
    width: 70%;
    margin-left: auto !important;
    margin-right: auto !important;
    color: #8A8A8A;
}

.editProfile{
    position: absolute !important;
    margin-left: 80% !important;
    margin-top: -4% !important;
    text-transform: none !important;

}

.photo{
    height: 88px;
}

.forumCard{
    padding: 7px !important;
    
}

.gameName:hover{
    text-Decoration: underline;
    cursor: pointer;
}

.gameName{

}

.gameAndTitle{
    margin-top: 10px;
    margin-bottom: 20px;

}

.timeStamp{
    color: #A4A4A4;
    font-size: 12px !important;

}

.userName{
    color: #535353;
    font-size: 12px !important;
}

.userNameForum{
    color: #535353;
    font-size: 12px !important;
}

.userNameComment{
    color: #0755ca;
    font-size: 14px !important;
    margin-right: 5px !important;
}


.forumTitle{
    color: #A4A4A4;
}

.forumTitle:hover{
    text-Decoration: underline;
    cursor: pointer;
}

.divider{
    height: 58px !important;
    margin: 17px !important;
}

.marginBottom{
    margin-bottom: 10%;
}

.postSpacing{
    margin-bottom: 10px;

}

.bioDiv{
    text-align: center;
}

.bioEdit{
    width: 70%;
}

.mediumSize{
    width: 60px !important;
    height: 60px !important;
}

.smallSize{
    width: 40px !important;
    height: 40px !important;
}


.forumPostTitle{
 

}

.forumBody{
    color: #535353;
    font-size: 14px !important;
    white-space: pre-line;
}

.commentBody{
    color: #535353;
    font-size: 14px !important;
    white-space: pre-line;
    margin-top: 12px !important;
}


.commentNumber{
    margin-top: 40px !important;
}

.commentCard{
    padding: 0px !important;
    margin-bottom: 10px !important;
}

.commentBox{
    width: 100% !important;
}

.postComment{
    float: right;
    margin-top: 10px !important;

}

.relatedLinks{
    color: #0755ca;
    font-size: 14px !important;
    white-space: pre-line;
    margin-top: 5px !important;
}

.bullet{
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}

.relatedPosts{
    margin-bottom: 10px;
}

.marginTop{
    margin-top: 5px;
}

.postStats{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.statsText{
    color: #535353;
    font-size: 14px !important;
}

.statsNumber{
    color: #A4A4A4;
    font-size: 14px !important;

}

.upDownVote{
    display: block !important;
    font-size: 40px !important;
}

.avatarForum{
    width: 60px !important;
    height: 60px !important;
    margin: auto;

}

.arrows{
    margin: auto;
    max-width: fit-content;
}

.voteNumber{
    text-align: center;
    font-size: 23px !important;
    color:#2b76d4;
}

.mainPostSpacing{
    margin-bottom: 10px;
    padding-left: 5px !important;

}

.bgdImage{
    background-image: url("background.jpeg");

    background-color: #0755ca;
    height: 100vh;
    flex-grow: 1;


}

.titleInput{
    width: 70%;
    margin-top: 30px !important;
    margin-left: 10px !important;
}

.autoGame{
    width:70% !important; 
    margin-top: 20px !important;
    margin-left: 10px !important;
}

.bodyInput{
    width: 90%;
    margin-top: 30px !important;
    margin-left: 10px !important;
}
.postButton{
    text-Transform: none !important;
    margin-Top: 20px !important;
    padding: 10px !important;
    margin-Bottom: 10px !important;
    width: 170px !important;
}
.cancelButton{
    text-Transform: none !important;
    margin-Top: 20px !important;
    padding: 10px !important;
    margin-Bottom: 10px !important;
    width: 170px !important;
    margin-right: 10px !important;

}

.buttonMargins{
    display: inline-flex;
    float: right;
    margin-right: 9% !important;
}

.editPostButton{
    float: right;
}

.statusBar{
    width: 12% !important;
    margin-top: 20px !important;
    margin-left: 10px !important;
    text-align: center;
}

.statusDot{
    vertical-align: bottom;
    margin-right: 5px;
    width: 17px !important;
}

.center{
    text-align: center !important;

}

.thumbsUp{
    vertical-align: bottom;
    margin-left: 2%;
    color: green;
    display: inline;
}

.tUp{
    color: green !important;
    background-color: #c4e4a7cc !important;
    margin-right: 5px !important;
}   

.tDown{
    color: #ce0606 !important;
    background-color: #f1b8afcc !important;
}

.settingsDiv{
    margin-left: 2%;
}
